<h2>検索結果 "<%= @keyword %>"</h2>
  <ul>
    <% @posts.each do |submission| %>
      <li>
        <%= link_to post_path(submission.id) do %>
          <%= submission.title %>
        <% end %>
      </li>
    <% end %>
  </ul>