<%= form_with model: [@post, @post_comment], url: post_post_comment_path, method: :patch do |f| %>
  <div class='row'>
    <%= f.text_area :comment, rows: '5', placeholder: "Write your comment here", class: 'text' %>
  </div>
  <div class='row'>
    <%= f.submit "submit", class: "comment_submit mt-4" %>
  </div>
 <% end %>